.titulo{
    display: flex;
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    margin: 20px 0 20px 0;

}

.contenedor{
    display: flex;
    justify-content: space-around;
    margin: 20px 0 20px 0;
}

.foto{
    width: 50%;
    margin: 30px 60px 30px 0;
}

.descripcion{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}
p{
    margin: 10px;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: justify;
}

.paquete{
    margin: 60px;
    width: 40%;
    font-family: 'Roboto Condensed', sans-serif;

}
/*
@media screen and (min-width: 992px){ 

}
@media screen and (min-width: 1000px){

}
@media screen and (max-width: 1000px){

}
@media screen and (max-width: 750px){

}
@media screen and (max-width: 360px){
    .logo{
        position: absolute;
        margin-left: 80px;   
    }
    .titulo{
        text-align: center;
        font-weight: bold;
        font-size: 30px;
        margin: 20px;
        display: flex;
        padding: 20px;
        text-decoration: underline; 
    } 
    .descripcion{
        font-size: 25px;
    }
    .contenedor{
        margin: auto;  
    }
    ul,a{
        margin: auto;
        padding: 5px;
        display:block;
        text-align: center;
    }
    .foto{
        display: none;
        position: absolute;
    }
    p{
        text-align: justify;   
    }
}*/