h1{
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
}

p{
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: justify; 
}

.contenedor{
    margin: 0 25px 0 25px
}



