h1{
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
}

p{
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: justify; 
}

.contenedor{
    margin: 0 25px 0 25px
}
@media screen and (max-width: 360px){
    .logo{
        position: absolute;
        margin-left: 80px;   
    }
    .titulo{
        text-align: center;
        font-weight: bold;
        font-size: 30px;
        margin: 20px;
        display: flex;
        padding: 20px;
        text-decoration: underline; 
    } 
    .descripcion{
        font-size: 25px;
    }
    .contenedor{
        margin: auto;  
    }
    ul,a{
        margin: auto;
        padding: 5px;
        display:block;
        text-align: center;
    }
    .foto{
        display: none;
        position: absolute;
    }
    h1,p{
        text-align: justify; 
        padding: 10px;  
    }
}